h1 {
	color:blue; 
}

nav ul li {
	display: inline;
	padding: 5px;
	text-decoration: none;
}


nav ul li:hover{
	color: red;
	font-family: 'Special Elite', cursive;
	font-weight: bolder;
	padding-right:5px;
}

nav{
	display: flex;
	align-items:center;
	justify-content: space-between;
	width: 100%;
	background-color: #FAEBDB;
}

.cat-image {
	width:500px;
}

p{
	font-family: 'Special Elite', cursive;
}

footer {
	font-family: 'Lobster', cursive;
}